name: Test Execute Action

on:
  pull_request:
    branches: [ main ]

permissions:
  contents: read

jobs:
  test-execute-action:
    runs-on: ubuntu-latest
    name: Execute Action Test
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Corepack enable
        shell: bash
        run: |
          npm install -g corepack@latest
          corepack enable

      - name: Get pnpm store directory
        id: pnpm-cache
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path)" >> $GITHUB_OUTPUT

      - uses: actions/cache@v5
        name: Setup pnpm cache
        with:
          path: ${{ steps.pnpm-cache.outputs.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-cache-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-cache-

      - name: install dependencies
        run: pnpm install

      - name: package
        run: pnpm run build

      - name: Execute Automagically non-blocking
        id: automagically-non-blocking
        uses: ./
        with:
          url: 'https://storage.googleapis.com/mocktopus/index.html'
          testTargetId: '35c8bfca-48d2-4eb2-8042-4ee50707a295'
          token: ${{ secrets.AUTOMAGICALLY_TOKEN }}

      - name: Execute Automagically non-blocking non-default
        id: automagically-non-blocking-non-default
        uses: ./
        with:
          url: 'https://storage.googleapis.com/mocktopus/index.html'
          testTargetId: '35c8bfca-48d2-4eb2-8042-4ee50707a295'
          token: ${{ secrets.AUTOMAGICALLY_TOKEN }}
          blocking: false

      - name: Execute Automagically blocking
        id: automagically-blocking
        uses: ./
        with:
          url: 'https://storage.googleapis.com/mocktopus/index.html'
          testTargetId: '35c8bfca-48d2-4eb2-8042-4ee50707a295'
          token: ${{ secrets.AUTOMAGICALLY_TOKEN }}
          blocking: true

      - name: Execute Automagically with environment
        id: automagically
        uses: ./
        with:
          url: 'https://storage.googleapis.com/mocktopus/index.html'
          testTargetId: '35c8bfca-48d2-4eb2-8042-4ee50707a295'
          token: ${{ secrets.AUTOMAGICALLY_TOKEN }}
          environmentName: "test"

      - name: Execute Automagically with browser
        id: automagically-browser
        uses: ./
        with:
          url: 'https://storage.googleapis.com/mocktopus/index.html'
          testTargetId: '35c8bfca-48d2-4eb2-8042-4ee50707a295'
          token: ${{ secrets.AUTOMAGICALLY_TOKEN }}
          browser: "FIREFOX"

      - name: Execute Automagically with breakpoint
        id: automagically-breakpoint
        uses: ./
        with:
          url: 'https://storage.googleapis.com/mocktopus/index.html'
          testTargetId: '35c8bfca-48d2-4eb2-8042-4ee50707a295'
          token: ${{ secrets.AUTOMAGICALLY_TOKEN }}
          breakpoint: "MOBILE"

      - name: Execute Automagically with overwriting variables
        id: automagically-variable-overwrite
        uses: ./
        with:
          url: 'https://storage.googleapis.com/mocktopus/index.html'
          testTargetId: '35c8bfca-48d2-4eb2-8042-4ee50707a295'
          token: ${{ secrets.AUTOMAGICALLY_TOKEN }}
          environmentName: "test"
          variablesToOverwrite: |-
            VARIABLE1:someValue
            VARIABLE2:someOtherValue

      - name: Execute Automagically with tags
        id: automagically-tags-filter
        uses: ./
        with:
          url: 'https://storage.googleapis.com/mocktopus/index.html'
          testTargetId: '35c8bfca-48d2-4eb2-8042-4ee50707a295'
          token: ${{ secrets.AUTOMAGICALLY_TOKEN }}
          environmentName: "test"
          tags: |-
            critical
            login
            

      - name: Execute Automagically with ymls
        id: automagically-tags-yml
        uses: ./
        with:
          url: 'https://storage.googleapis.com/mocktopus/index.html'
          testTargetId: '0c051842-2098-4717-851e-9a93082627cf'
          token: ${{ secrets.AUTOMAGICALLY_TOKEN }}
          ymlDirectory: ".octomind-special"

